/* 
Table of Contents:
  1. Settings
  2. Elements
  3. Objects
  4. Components
  5. Utilities

=====================================================================
1. Settings
  Color definitions and other variables 
*/
:root {
  --text-color: #1B1B1D;
  --background-color: #f6f8f9;
  --highlight-color: #FBF719;
}
[data-theme='dark'] {
  --text-color: #cccccc; 
  --background-color: #1a1a1a;
  --highlight-color: #018786; 
}
/*
=====================================================================
2. Elements 
  Styling for bare HTML elements (like H1, A, etc.). These come with
  default styling from the browser so we can redefine them here.
*/
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: inside;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
}

code {
  padding: 0.25rem;
}
/*
=====================================================================
3. Objects 
  Class-based selectors which define undecorated design patterns,
  for example media object known from OOCSS.
*/
.obj-layout{
  margin: 0 auto;
  margin-top: 3rem;
  width: calc(100% - 4rem);
  max-width: 75ch; 
}


/*
=====================================================================
4. Components 
  Specific UI components. 
*/

.cmp-header {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cmp-header__link {
  font-size: 1.5rem;
  padding: 0;
  margin-right: 1rem;
  font-weight: 700;
}

.cmp-light-mode-toggle{
  line-height: 1.15;
  padding: 0.25rem;
}
.cmp-light-mode-toggle:hover{
  background-color: var(--highlight-color);
  border-radius: 100%;
}
.cmp-home-hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
}
.cmp-home-hero__about {
  display: flex;
  flex-direction: column;
}
.cmp-home-hero__name {
  font-weight: 700;
  font-size: 2rem; 
  line-height:  1.2;
  margin-bottom: 0.25rem;
}
.cmp-home-hero__job {
  margin-bottom: 1rem;
  font-weight: 400;
}
.cmp-home-hero__company{
  font-weight: 700;
}
.cmp-home-hero__detail {
  margin-bottom: 4rem;
}

.cmp-home-hero__image {
  border-radius: 100%;
  background-color: #aaaaaa;
}
.cmp-home-hero__image-container {
  width: 10rem;
  margin-right: 0;
  position: relative;
}
@media (min-width: 40rem) {
  .cmp-home-hero {
    flex-direction: row;
    align-items: center;
  }
  .cmp-home-hero__image-container {
    margin-bottom: 2rem;
    margin-left: auto;
  }
}

.cmp-footer {
  margin: 3rem 0; 
  padding-top: 1rem;
  border-top: 1px solid gray;
}
.cmp-footer__link {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0;
  font-weight: 700;
}
.cmp-footer__link--odd {
  margin-left: 1rem;
  margin-right: 1rem;
}

.cmp-work-preview {
  list-style: none;
}

.cmp-work-preview__section-heading {
  font-weight: 700;
  font-size: 2rem; 
  line-height:  1.2;
  margin-bottom: 2rem;
}


.cmp-work-preview__card .cmp-work-preview__title {
  display: inline-block;
  background-image: linear-gradient(var(--highlight-color),var(--highlight-color));
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.cmp-work-preview__card:hover .cmp-work-preview__title {
  background-size: 100% 100%;
}


.cmp-work-preview__title {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0;
}

.cmp-work-preview__preview {
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 0;
}


.cmp-content h1{
  font-size: 2.25rem;
}
.cmp-content h2{
  font-size: 2rem;
}

.cmp-content p,
.cmp-content ul {
  font-size: 1.25rem;
  line-height: 1.5;
}

.cmp-content p a {
  text-decoration: underline;
  background-image: linear-gradient(var(--highlight-color),var(--highlight-color));
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.cmp-content p a:hover {
  background-size: 100% 100%;
}


.cmp-image-container{
  width: 90%;
  margin: 0 auto;
}
.cmp-image{
  width: 100%;
   box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1); 
  border-radius: 1rem;
} 

.cmp-not-found{
  display: flex;
  flex-direction: column;
}
.cmp-not-found h1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-size: 1.875rem; 
}
.cmp-not-found p {
  font-weight: 400;
  font-size: 1.75rem;
}

/*
=====================================================================
5. Utilities
  Utilities and helper classes with ability to override anything
  which goes before in the triangle, eg. hide helper class
*/

.hover-highlight {
  background-image: linear-gradient(var(--highlight-color),var(--highlight-color));
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.hover-highlight:hover {
  background-size: 100% 100%;
}